h1{
	font-family: fantasy;
	font-size: 40px;
	text-decoration: underline;
	color: darkred;
}

p {
	font-family: sans-serif;
	font-style: oblique;
	line-height: 22px;
}

a {
	text-decoration: underline;
	color: orangered;
}